<header>
  <div class="container">
    <div class="page-header">
      <h1 style="display: inline-block">
        <img src="assets/goyello-logo.png" style="width: 65px;"> Notes app</h1>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 side">
        <div class="notes-list__button">
          <h4 class="notes-list__button__elements">Your recent notes</h4>
          <button (click)="createNote()" class="btn btn-success btn-lg notes-list__button__elements pull-right">+</button>
        </div>
        <!--wondering if is it good idea to make filter-notes in separate component-->
        <div class="filter-notes">
          <!--<button (click)="urgentNote(notes)" type="button" class="btn btn-default btn-xs">highlight notes to do for tommorow!</button>-->
          <span>Filter notes by</span>
          <div>
            <button (click)="filterTitle(notes)" type="button" class="btn btn-default btn-xs">Title
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <button (click)="filterPriority(notes)" type="button" class="btn btn-default btn-xs">Priority
                  <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
            <button (click)="filterDueDateAsc(notes)" type="button" class="btn btn-default btn-xs">Due date
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
              <!--<button (click)="filterDueDateDesc(notes)" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
              </button>-->
          </div>
        </div>
        <!--BEGIN: Notes list-->
        <app-notes-list [notes]="notes" (selectedItem)="onSelectedItem($event)"></app-notes-list>
        <!--END: Notes list-->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div [ngSwitch]="viewState">
          <app-note-details *ngSwitchCase="notesViewStateRef.display" [selectedNote]="selectedNote"></app-note-details>
          <app-create-note *ngSwitchCase="notesViewStateRef.create" (editedItem)="onEditedItem($event)" (canceledItem)="onCanceledItem($event)" (createdItem)="onCreatedItem($event)" ></app-create-note>
        </div>
      </div>
    </div>
  </div>
</main>