.panel-body{
    .panel-details{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    
    &__priority{
        position: relative;
        width: 100px;
        margin-bottom: 15px;
 
   }
   &__dueDate {
     position: relative;
     width: 165px;
     margin-bottom: 15px;
   }

    }
}