<div class="panel panel-success">
  <div class="panel-heading">New note</div>
  <div class="panel-body">
    <form #newNoteForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="note-title">Title:</label>
        <input type="text" [(ngModel)]="newNote.title" required class="form-control" name="note-title" id="note-title">
      </div>
      <div class="form-group">
        <label for="note-content">Note:</label>
        <textarea [(ngModel)]="newNote.content" required class="form-control new-note__content-input" name="note-content" id="note-content"></textarea>
      </div>
      <div class="panel-details"><div>
          <label for="priority">Priority</label>
        <select [(ngModel)]="selectedPriority" name="priority" required>
            <option *ngFor="let p of priorities; let i = index" [attr.data-index]="i">{{p}}</option>
        </select></div>
        <div>Due date</div>
 </div>
  <button type="submit" [disabled]="!newNoteForm.form.valid" class="btn btn-success">Submit</button>
  </form>
</div>
