.column {
  width: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid red; }

.notes-app__button {
  margin-bottom: 15px;
  border: 10px solid lime; }
  .notes-app__button__elements {
    display: inline-block;
    margin-right: 17px; }

.notes-list__button {
  margin-bottom: 15px; }
  .notes-list__button__elements {
    display: inline-block;
    margin-bottom: 10px; }

.note-list__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px; }
  .note-list__row label {
    font-weight: normal; }

.note-list__title {
  width: 100%;
  font-weight: bolder;
  font-size: 1.2em;
  padding-top: 10px; }

.note-list__details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center; }

.date-holder {
  display: flex;
  width: 30%;
  flex-direction: column; }
  .date-holder span {
    font-weight: bolder;
    padding: 5px;
    width: 100px; }
  .date-holder p {
    margin: 0; }

.note-panel {
  display: inline-block;
  width: 100%;
  height: 20px;
  margin: 0;
  padding-top: 10px; }
  .note-panel .btn {
    text-transform: uppercase;
    font-size: 10px; }
    .note-panel .btn-danger {
      margin-top: 2px; }
    .note-panel .btn-delete:hover {
      background-color: #d9534f;
      color: #fff; }
    .note-panel .btn-edit:hover {
      background-color: #449D44;
      color: #fff; }

.btn-cancel {
  background-color: #F38434; }

.new-note__content-input {
  min-height: 200px;
  max-width: 100%; }
